{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


<div class="body-login">
<div class="app">

    <div class="bg"></div>

    <form class="form-login" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <header>
            <img src="https://assets.codepen.io/3931482/internal/avatars/users/default.png?format=auto&height=80&version=1592223909&width=80">
        </header>

        <div class="inputs">
            
            <input placeholder="email" type="email" value="{{ last_username }}" name="email"  class="form-control" autocomplete="email" required autofocus>
            
            <input placeholder="mot de passe" type="password" name="password"  class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
           
            <p class="light"><a href="#">Mot de passe oublié?</a></p>
       
   
        <button type="submit" class="button-login">Se connecter</button>
        <p>Pas de compte?<a href="/register"> Par ici</a></p>
        </div>
    
    </form>
    


</div>
</div> 
  
{% endblock %}
