{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% include ('components/header.html.twig') %}
{# --Présentation-- #}





<div class="container-presentation">
    {% for item in presentation %}
    <div clss="content-one">
        <h2>{{ item.title1}}</h2>

        <h3><i>{{ item.headline1}}</i></h3>
        <img src="/uploads/files/{{item.image1}}" class="rounded-circle" width="250" alt="PHoto de présentation">
        <p>{{ item.content1|raw}}</p>
    </div>
    
    <div class="content-two">

        <h2>{{ item.title2}}</h2>
        <h3><i>{{ item.headline2}}</i></h3>
        <img src="/uploads/files/{{item.image2}}" class="rounded-circle" width="250" alt="PHoto de présentation" alt="">
        <p>{{ item.content2|raw}}</p>
    </div>
    {% endfor %}
</div>




<div class="contact-form">
  <form method="post" data-form-title="CONTACT US"> 
    <h2 class="mt-3" style="text-align:center;">Comment me contacter? </h2>
    {{form(form)}}
  </form>
</div>


{% endblock %}
