{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{#{% include ('components/header.html.twig') %}#}
{# --Présentation-- #}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}


<div class="container-presentation">
    {% for item in presentation %}
      <img src="/uploads/files/{{item.image1}}" class="homepage-img" alt="PHoto de présentation" >
      <div class="content-one">
        <h2>{{ item.title1}}</h2>

        <h3><i>{{ item.headline1}}</i></h3>
       
        <p>{{ item.content1|raw}}</p>
    </div>
    <div>
      <div class="hover13 column">
        <div>
          <figure><a href="{{ path('history') }}"><img src="https://picsum.photos/600/400?image=244" /></a></figure>
          <span>Histoire</span>
        </div>
        <div>
          <figure><a href="{{ path('blog') }}"><img src="https://picsum.photos/600/400?image=1024" /></a></figure>
          <span>Blog</span>
        </div>
        <div>
          <figure><a href="{{ path('register') }}"><img src="https://picsum.photos/600/400?image=611" /></a></figure>
          <span>Inscription</span>
        </div>
      </div>
      
      </div>
</div>    
<div class="">
    <div class="content-two">
      <h2>{{ item.title2}}</h2>
        <h3><i>{{ item.headline2}}</i></h3>
          <img src="/uploads/files/{{item.image2}}" class="rounded-circle" width="250" alt="PHoto de présentation" alt="">
          <p>{{ item.content2|raw}}</p>
    </div>
    {% endfor %}




  <div>
    <div class="contact-form-wrapper d-flex justify-content-center">
      <form action="#" class="contact-form">
        <h5 class="title">Contact us</h5>
        <p class="description">Feel free to contact us if you need any assistance, any help or another question.
        </p>
        <div>
          <input type="text" class="form-control rounded border-white mb-3 form-input" id="name" placeholder="Name" required>
        </div>
        <div>
          <input type="email" class="form-control rounded border-white mb-3 form-input" placeholder="Email" required>
        </div>
        <div>
          <textarea id="message" class="form-control rounded border-white mb-3 form-text-area" rows="5" cols="30" placeholder="Message" required></textarea>
        </div>
        <div class="submit-button-wrapper">
          <input type="submit" value="Send">
        </div>
      </form>
    </div>
</div>
</div>
{#
<div class="contact-form">
  <form method="post" data-form-title="CONTACT US"> 
    <h2 class="mt-3" style="text-align:center;">Comment me contacter? </h2>
    {{form(form)}}
  </form>
</div>
#}

{% endblock %}
