{% extends 'base.html.twig' %}

{% block body %}


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="main-content" class="blog-page">
        <div class="container">
           
                <div class="m-15px-tb">
                    <div class="card single_post">
                        <div class="body">
                            
                            <img width="100%" src="/uploads/files/{{ article.image1 }}">
                           
                            <h6>{{article.theme}}</h6> 
                            <h3>{{article.title}}</h3>
                            <h4>{{article.introduction}}</h4>
                            <p>{{article.content1|raw}}</p>
                            <p> {{article.content2|raw}}</p>
                            
                        </div>                        
                    </div>
                    {% if app.user %}
                      {% if article.comments != null %}
                      <div><p>Il n'y a pas de commentaires concernant cet article. N'hésitez pas à être le/la premier(e)!</p></div>
                      {% else %}
                    <div class="card">
                      <div class="header">
                        <h2>Commentaires</h2>
                      </div>
                        <div class="body">
                          {% for comment in article.comments %}
                            {% if comment.parent == null %}
                              <ul class="comment-reply list-unstyled">
                                <li class="row clearfix">
                                  <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="/uploads/images/{{ comment.author.image }}" alt="Awesome Image"></div>
                                    <div class="text-box col-md-10 col-8 p-l-0 p-r0" id="text-box-comment">
                                      <h4 style="text-align:center;" id="tooltip" class="m-b-0">{{comment.author.pseudo}}
                                        <span class="tooltiptext"><i>{{comment.author.presentation}}</i></span>
                                      </h4>
                                        <p id="content-comm">{{comment.content|raw}}</p>
                                          <ul class="list-inline">
                                            <li class="date-comm">{{comment.createdAt|date("d/m/Y à H:i")}}</li>
                                            <li><a href="#ajout-commentaire" data-reply  data-id="{{comment.id}}">Répondre</a></li>
                                          </ul>
                                    </div>
                                </li>
                              </ul>
                              {# on affiche les réponses aux comments#}
                              {% for reply in comment.replies %}
                                <ul class="reply">
                                  <li class="row clearfix">
                                    <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="/uploads/files/{{ reply.author.image }}"> </div>
                                    <div class="text-box col-md-10 col-8 p-l-0 p-r0" id="text-box-reply">
                                      <h4 style="text-align:center;" id="tooltip" class="m-b-0">{{reply.author.pseudo}}
                                        <span class="tooltiptext"><i>{{reply.author.presentation}}</i></span>
                                      </h4>
                                        <p class="content-comm">{{reply.content|raw}}</p>
                                        <ul class="list-inline">
                                            <li class="date-comm">{{reply.createdAt|date("d/m/Y à H:i")}}</li>
                                        </ul>
                                    </div>
                                  </li>
                                </ul>
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                        </div> 
                      </div>
                      {% endif %}  
											<div class="card">
                        <div class="header">
                          <h2>Laisser un commentaire</h2>
                        </div>
                          <div class="body">
                            <div class="comment-form">
                              <h4 class="text-center mb-4 pb-2" id="ajout-commentaire"></h4>
                                {{form(commentForm)}}
                            </div>
                          </div>
                      </div>
                              
                    {% else %}
                      <div class="not-connected">
                        <p>Il faut être inscrit(e) et connecté(e) pour accèder à la section commentaires de l'article</p>
                      </div>
                     
                  {% endif %}     
           
        </div>
</div>
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}

{% endblock %}
{% block javascripts %}
<script>
    window.onload = () =>{
        //event listener on every reply button
        document.querySelectorAll("[data-reply]").forEach(element =>{
            element.addEventListener("click", function(){
                document.querySelector("#comments_parentid").value = this.dataset.id; //on récupére l'id du parent et on lui donne la valeur set

            });
        });

    }
</script>


{% endblock %}