{% block navbar %}
<div class="navbar-body">
    <navbar class="navbar">
        <div class="user-state">
            {% if app.user %}
            <img class="img-nav" width="50" src="/uploads/files/{{ app.user.image }}"/>
            <span><b><a href="#">{{ app.user.pseudo }}</a></b></span> | <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %} 
                Non connecté(e) | <a href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </div>
        <a href="" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li> <a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('history') }}">Histoire</a></li>
                <li><a href="{{ path('blog') }}">Blog</a></li>
                <li><a href="{{ path('register') }}">Inscription</a></li>
            </ul>
        </div>
    </navbar>
</div>
{% endblock %}
{% block javascripts %}
<script>
    {#Make burger menu toggle on click (responsive)#}
    const toggleButton = document.getElementsByClassName('toggle-button')[0]
    const navbarLinks = document.getElementsByClassName('navbar-links')[0]

    toggleButton.addEventListener('click', () => {
        navbarLinks.classList.toggle('active')
    })
</script>
{% endblock %}
